.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 100px;
    height: 40px;

}

.navbar ul{
    display: flex;
    gap: 40px;
    
    
}

.navbar ul li{
    list-style: none;
    text-decoration:none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: white;
 
   
}

.nav-right{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-right: 100px;
    
  
}
.nav-right select{
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 15px;

    border: 1px solid white;
    border-radius: 10px;
   background: transparent;
   color: white;
   
}

.nav-right select option{
    color: white;
    background-color: rgba(0, 0, 139, 0.993);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 15px;
  color: #393939;
  background:white;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;

}
